*{
	font-family: 'Open Sans', sans-serif;
}
.yellow{
	color: #f7b617;
}
.bg-yellow{
	background-color: #f7b617;
}

/*===NavBar===*/
.navbar{
	margin-bottom: 0;
}
.navbar-default{
	background-color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	background-color: #777;
	color: #fff;
}
/*===Hamburguesa===*/
.navbar-default .navbar-toggle{
	border: none;
}
.navbar-toggle{
	float: left;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: transparent;
}
.nav .navbar-nav li:hover{
	background-color: #f8f8f8;
}
/*===Logo===*/
.navbar-brand img{
	float: right;
}

@media (min-width: 768px){
	.navbar-nav{
		float: right;
	}
}

/*.navbar-default .navbar-brand{
	color: #fcb425;
}
.navbar-default .navbar-brand span{
	color: #5e5e5e;
}*/

/*font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/*===Slide===*/

.row .col-lg-12{
	padding: 0;
}
.box{
	position: relative;
	overflow: hidden;
	height: 68vh;
}
.box img:first-child{
	width: 100%;
	position: absolute;
	bottom: 0;
}
.box-info{
	position: absolute;
	width: 100px;
	width: 35%;
	right: 0;
	padding: 30px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}
.box-info img{
	width: 40px;
}