*{
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}
.row{
	margin: 0;
}
.yellow{
	color: #f7b617;
}
.bg-yellow{
	background-color: #f7b617;
}
.font-ralewey{
	font-family: 'Raleway', sans-serif;
}
.container-fluid{
	padding: 0;
}
/*===NavBar===*/
.navbar{
	margin-bottom: 0;
	padding: 15px 28px;
}
.navbar-default{
	background-color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	background-color: #777;
	color: #fff;
}
.navbar-header{
	display: flex;
}
.link-pg{
	font-weight: 700;
}
/*===Hamburguesa===*/
.navbar-default .navbar-toggle{
	border: none;
}
.navbar-toggle{
	float: left;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: transparent;
}
.nav .navbar-nav li:hover{
	background-color: #f8f8f8;
}
/*===Logo===*/
.navbar-brand img{
	float: right;
	margin-top: -6px;
}

@media (min-width: 768px){
	.navbar-nav{
		float: right;
	}
}

/*===Slide===*/

.box{
	padding: 0;
	display: flex;
	align-items: center;
	overflow: hidden;
	height: 440px;
}
.box .img-taxi{
	width: 100%;
	position: absolute;
	bottom: 0;
}
.box-info{
	position: absolute;
	width: 35%;
	right: 0;
	padding: 30px;
	color: #fff;
	font-weight: 600;
}
.box-info img{
	width: 75px;
	padding-left: 6px;
}
.box-info hr{
	width: 100px;
}
.title-info{
	padding-top: 10px;
}
.btn-default{
	font-weight: 700;
	display: flex;
}
.text-info-desktop{
	padding: 30px;
	text-align: left;
}

@media (max-width: 768px){
	.box-info-movil{
		display: block;
		width: 65%;
	}
	.box-info-movil img{
		width: 100px;
	}
	.box-info-desktop{
		display: none;
	}
}
/*===Information Movil===*/ 
.info-movil{
	padding: 33px 0 !important;
	color: #fff;
}
.info-movil .col-xs-12{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	padding-left: 45px;
}
.info-movil .col-xs-12 img{
	width: 290px;
	margin: 22px;
}
.info-movil .col-xs-12 h2{
	padding: 10px;
}
@media (max-width: 768px){
	.info-movil .col-xs-12{
		border: 1px solid #fff;
	}
	.info-movil{
		padding: 33px !important;
	}
	.bg-yellow .text-center{
		display: block;
		margin-top: 50px;
		color: #fff;
		margin-bottom: 20px;
	    padding-bottom: 12px;
	}
	.text-info-desktop{
		display: none;
	}
}
@media (min-width: 769px) {
  	.text-info-movil{
		display: none;
	}
	.info-movil h2{
		display: none;
	}
	.info-movil .col-xs-12{
		padding-left: 45px;
	}
	.info-movil .col-xs-12 img{
		display: flex;
	}
}

/*===Driver-image===*/

.driver-content{
	background-color: #0a0a0a;
	opacity: 0.7;
	width: 100%;
	position: absolute;
	top: 0;
}
.driver-img{
	margin-top: 0;
	width: 100%;
}
.driver button{
	font-weight: 700;
}
.img-section .col-xs-12{
	padding: 0;
}
@media (max-width: 768px){
	.driver-img{
		margin-top: 0;
		width: 100%;
	}
	.driver-content{
	}
}
/*===Mapa===*/
.map{
	color: #fff;
}
.map .col-xs-12 span{
	display: inline-block;
}
.text-map{
	padding-left: 2px;
}
@media (min-width: 769px) {
	#map{
	    height: 350px;
	    width: 40%;
	    margin: 35px;
	    left: 100px;
	}
}
